{% if section.blocks.size > 0 %}
<link rel="stylesheet" href="{{ 'index__text-grid.css' | asset_url }}">
<div class="section">
  <div class="container">
    <div class="grid">
      {% for block in section.blocks %}
      <div class="grid__item">
        <div class="text-grid-content ">
          <a href="/collections/lzf">
            <div class="content-wrapper">
              <span class="h4">{{ block.settings.text }}</span>
              <span>{{ block.settings.textdes }}</span>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% schema %}
  {
    "name": "Text Grid",
    "class":"section-text-grid",
    "settings": [],
    "blocks": [
      {
        "type": "text",
        "name":"Text",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "textdes",
            "label": "Sub Title"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Text Grid",
      "category": "Text",
      "settings": {}
    }],
    "disabled_on": {
      "groups": [
        "*"
      ]
    }  
  }
{% endschema %}