{% if section.settings.coll != blank %}
<link rel="stylesheet" href="{{ 'index__product-slider.css' | asset_url }}">

<div class="section product-slider">
  <div class="container">
    <div class="pSlider--header">
      <h2>{{ section.settings.title }}</h2>
    </div>
    <div class="pSlider--slider-content">
      <div class="carousel pSlider--slider carousel-comman-arrwos">
        
        {% for prod in section.settings.coll.products %}
        <div class="carousel-cell">          
          {% render 'product-thumbnail',
            product: prod,
            limit: limit,
            products_per_row: '',
            mobile_products_per_row: '',
            align_height: false,
            slideThumbnail: true
          %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>  
</div>

<script>
  document.addEventListener("DOMContentLoaded", (event) => {  
    $('.pSlider--slider').flickity({
      // options
      cellAlign: 'left',
      contain: true,      
      groupCells: true
    });
  });
</script>
{% endif %}

{% schema %}
  {
    "name": "Product Slider",
    "class":"section-product-slider",
    "settings": [
      {
        "type":"text",
        "label": "Heading",
        "id":"title",
        "default":"Designs On Sale Now"
      },
      {
        "type": "collection",
        "id": "coll",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Product Slider",
        "category": "Product",
        "settings": {}
      }
    ],
    "disabled_on": {
      "groups": [
        "*"
      ]
    }
  }
{% endschema %}