(function() {
  function initOffers() {
    var slickOptions = {
      slidesPerRow: 1,
      slidesToScroll: 1,
      slidesToShow: 4,
      dots: true,
      nextArrow: '<span class="fas fa-angle-right fa-2x slick-arrow"></span>',
      prevArrow: '<span class="fas fa-angle-left fa-2x slick-arrow"></span>',
      responsive: [
        {
          "breakpoint": 1023,
          "settings": {
            "slidesToShow": 3,
            "slidesToScroll": 1
          }
        }, 
        {
          "breakpoint": 767,
          "settings": {
            "slidesToShow": 1,
            "slidesToScroll": 1,
            "dots": false,
            "arrows": false,
            "centerMode": true,
            "accessibility": true
          }
        }
      ]
    };

    if ($('.offers').hasClass('slick-initialized')) {
      $('.offers').slick('destroy');
    }

    $('.offers').slick(slickOptions);

    // open offers
    $(document).on('click', '#drawer-tab', function(e) {
      e.preventDefault();

      $('.offers').slick('setPosition');

      $('#promo-drawer').toggleClass('promo-drawer-open');
      $('#promo-drawer-overlay').toggleClass('visible');
    });
  }    

  function showOffersCart() {
    var products_collections = JSON.parse(sessionStorage.getItem('products_collections')) || [];
    var isFrench = window.location.href.indexOf('montrealluminaire.com') !== -1;

    //console.log($('.ajax-cart__product'));
    $('.ajax-cart__product').each(function() {
      var $line_item = $(this);
      var product_id = $line_item.data('product-id');
      var line_item_product_collections = products_collections.find(function(item) {
        return item.product_id == product_id;
      });
      //console.log(line_item_product_collections);

      var current_offer = offers.items.find(function(item) {
        return item && line_item_product_collections.collections.indexOf(item.collection) !== -1;
      })

      var offer_details = isFrench ? current_offer.offer_details_product_cart_fr : current_offer.offer_details_product_cart;
      if (current_offer) {
        $line_item.find('.product-offer').remove();
        $line_item.find('.ajax-cart__price').append('<div class="product-offer">' + offer_details + '</div>');
      }
    });
  }

  document.addEventListener('shopify:section:select', function(e) {
    //console.log(e);
    if (e.detail.sectionId == 'my-offers-tabs') {
      $('#promo-drawer').addClass('promo-drawer-open');
      $('#promo-drawer-overlay').addClass('visible');
      setTimeout(initOffers, 500);
      setTimeout(initOffers, 1000);
    }
  });

  document.addEventListener('shopify:section:deselect', function(e) {
    if (e.detail.sectionId == 'my-offers-tabs') {
      $('#promo-drawer').removeClass('promo-drawer-open');
      $('#promo-drawer-overlay').removeClass('visible');
    }
  });    

  document.addEventListener('shopify:block:select', function(e) {
    //console.log(e);
    if (e.detail.sectionId == 'my-offers-tabs') {
      $('#promo-drawer').addClass('promo-drawer-open');
      $('#promo-drawer-overlay').addClass('visible');
      setTimeout(initOffers, 500);
      setTimeout(initOffers, 1000);
    }
  });

  $(document).ready(function() {
    initOffers();

    // show offers button after a delay
    setTimeout(function() {
      $('#promo-drawer').show();
    }, 5000);

    setTimeout(showOffersCart, 2500);

    $(document).on('cart-updated', function() {
      showOffersCart();
    });
  });    
})();  
