{% layout none %}

{% assign products = collection.products %}

<div class="container">  
  <div class="product-recommendations">
    {% include 'heading', title: 'You may also like', heading_tag: 'h4', context: 'recommended-products', text_alignment: 'center' %}
    
    <div class="one-whole column
                related-products
                related-products--slider
                js-related-products-slider">
      {% render 'product-slider', products: products, per_slide: 5, limit: 50%}
    </div>
    
  </div>
</div>